* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    overflow-x: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


body {
    background-color: #f7f7f7cc;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.search-btn, #book-input {
    padding: 4px 20px;
    border: rgba(0, 0, 0, 0.2) solid 1px;
    border-radius: 5px;
}

thead tr th {
    padding: 20px 70px;
    text-align: center;
}

main {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

    background-color: #f7f7f7cc;
}

table {
    margin: 10px 100px;
}

table tr td {
    text-align: center;
}

tfoot tr td {
    display: inline;
}

.pagination-btn{
    margin:30px 3px;
    padding: 0px 5px;
    cursor: pointer;
}

footer p {
    padding: 10px 0px;
    text-align: center;
}

footer {
    margin-top: 35%;

    background-color: #CCCCCC;
    opacity: 0.9;
}

#numFound {
    font-style: italic;
}